<% if (locals.errors) { %>
<ul 
  data-has-errors="true"
  <% if (!locals.inDarkMode) { %>
    class="text-sm text-red-800"
  <% } else { %>
    class="text-sm text-red-500"
  <% } %>
>
  <% errors.forEach((error) => { %> <% if (Array.isArray(error.msg)) { %> <%
  error.msg.forEach((msg) => { %>
  <li><%= msg %></li>
  <% }); %> <% } else { %>
  <li>- <%= error.msg %></li>
  <% } %> <% }); %>
</ul>
<% } %>
