<div
  class="flex flex-col items-center rounded-md border-1 border-zinc-800 p-2 hover:bg-zinc-900"
>
  <svg
    class="size-28"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0,0,256,256"
    fill-rule="nonzero"
  >
    <defs>
      <linearGradient
        x1="24"
        y1="6.708"
        x2="24"
        y2="14.977"
        gradientUnits="userSpaceOnUse"
        id="color-1"
      >
        <stop offset="0" stop-color="#d97706"></stop>
        <stop offset="1" stop-color="#92400e"></stop>
      </linearGradient>
      <linearGradient
        x1="24"
        y1="10.854"
        x2="24"
        y2="40.983"
        gradientUnits="userSpaceOnUse"
        id="color-2"
      >
        <stop offset="0" stop-color="#f59e0b"></stop>
        <stop offset="1" stop-color="#d97706"></stop>
      </linearGradient>
    </defs>
    <g
      fill="none"
      fill-rule="nonzero"
      stroke="none"
      stroke-width="1"
      stroke-linecap="butt"
      stroke-linejoin="miter"
      stroke-miterlimit="10"
      stroke-dasharray=""
      stroke-dashoffset="0"
      font-family="none"
      font-weight="none"
      font-size="none"
      text-anchor="none"
      style="mix-blend-mode: normal"
    >
      <g transform="scale(5.33333,5.33333)">
        <path
          d="M24.414,10.414l-2.536,-2.536c-0.562,-0.562 -1.325,-0.878 -2.121,-0.878h-14.757c-1.105,0 -2,0.895 -2,2v30c0,1.105 0.895,2 2,2h38c1.105,0 2,-0.895 2,-2v-26c0,-1.105 -0.895,-2 -2,-2h-17.172c-0.53,0 -1.039,-0.211 -1.414,-0.586z"
          fill="url(#color-1)"
        ></path>
        <path
          d="M21.586,14.414l3.268,-3.268c0.093,-0.093 0.22,-0.146 0.353,-0.146h17.793c1.105,0 2,0.895 2,2v26c0,1.105 -0.895,2 -2,2h-38c-1.105,0 -2,-0.895 -2,-2v-23.5c0,-0.276 0.224,-0.5 0.5,-0.5h16.672c0.53,0 1.039,-0.211 1.414,-0.586z"
          fill="url(#color-2)"
        ></path>
      </g>
    </g>
  </svg>
  <small class="pointer-events-none -mt-1 text-sm"><%= folderName %></small>
</div>
