<section
  class="flex h-full w-1/5 max-w-[300px] min-w-[180px] flex-col gap-2 border-r-1 border-zinc-700 bg-zinc-900 p-3"
>
  <div
    class="flex items-center gap-3 rounded-lg border-1 border-[#973c00] bg-[#461901] p-1.5 pl-3 font-semibold text-amber-100"
  >
    <span><%= user.username %> folders</span>
  </div>
  <hr class="my-2 border-zinc-700" />
  <div
    class="flex cursor-pointer items-center gap-3 rounded-md p-1.5 pl-3 hover:bg-zinc-800"
  >
    <i class="size-4" data-lucide="home"></i>
    <span>Home</span>
  </div>
  <div
    class="flex cursor-pointer items-center gap-3 rounded-md p-1.5 pl-3 hover:bg-zinc-800"
  >
    <i class="size-4" data-lucide="file-text"></i>
    <span>Documents</span>
  </div>
  <div
    class="flex cursor-pointer items-center gap-3 rounded-md p-1.5 pl-3 hover:bg-zinc-800"
  >
    <i class="size-4" data-lucide="image"></i>
    <span>Images</span>
  </div>
  <div
    class="flex cursor-pointer items-center gap-3 rounded-md p-1.5 pl-3 hover:bg-zinc-800"
  >
    <i class="size-4" data-lucide="film"></i>
    <span>Videos</span>
  </div>
  <div
    class="flex cursor-pointer items-center gap-3 rounded-md p-1.5 pl-3 hover:bg-zinc-800"
  >
    <i class="size-4" data-lucide="music"></i>
    <span>Music</span>
  </div>
</section>
