<div
  class="more-modal pointer-events-none absolute top-7 z-20 w-[120px] rounded-md bg-zinc-950 p-1.5 opacity-0 shadow-lg transition-opacity"
>
  <button class="edit open-popup-button w-full">
    <a class="flex items-center gap-3 rounded-md p-1.5 hover:bg-amber-800">
      <i class="size-4" data-lucide="square-pen"></i>
      <span class="pointer-events-none text-sm">Edit</span>
    </a>
  </button>
  <button class="delete open-popup-button w-full">
    <a class="flex items-center gap-3 rounded-md p-1.5 hover:bg-amber-800">
      <i class="size-4" data-lucide="trash-2"></i>
      <span class="pointer-events-none text-sm">Delete</span>
    </a>
  </button>
</div>
